
html, body {
    margin: 0; /* Убираем отступы у html */
    padding: 0; /* Убираем отступы у body */
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(233, 126, 126, 0.2);
    color: #333;
    line-height: 1.6;
}
h1{
    width: auto; /* Changed from 1rem to auto */
    text-align: center;
    margin: 0;
  }
.inter{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

header {
    background-color: #259BE9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    color: white;
    padding: 1rem 0;
    text-align: center;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.header-ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 20px 0;
    margin: 0;
    justify-content: space-around;
    width: 90%;
}

.header-ul li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
    margin-right: 50px;
}

.header-ul a:hover {
    color: rgba(255,255,255,0.8);
}

#about-game {
    position: relative; /* Относительное позиционирование для фона */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

#about-game::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://avatars.mds.yandex.net/get-shedevrum/15373038/img_c8f084dbcf8e11efa5b56e1ef45c01ed/orig');
    background-size: cover; /* Растягиваем фон на всю секцию */
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Размещаем фон позади контента */
}

.card-conteiner {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1200px;
    gap: 120px;
    z-index: 1;
    justify-content: center; /* Changed from space-evenly to center */
  }
  
  .card-conteiner .grid-container {
    flex: 1 1 300px; /* Adjust flex-basis as needed, for minimum card width */
    padding: 10px;
    background-color: rgba(37, 155, 233, 1);
    color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    box-sizing: border-box;
  }
  
  .card-conteiner .card-conteiner1 {
    text-align: center;
     transform: translateY(-120px);
  }
  .card-conteiner .card-conteiner2 {
    transform: translateY(120px);
 }
    .card-conteiner .grid-container ul{
       list-style: none;
      padding: 0;
        margin: 0;
     display: flex;
      justify-content: center;
    }
    .card-conteiner .grid-container ul div{
        display: block;
      width: auto;
      text-align: center; /* Center the text content */
  }
  h2{
    color: black;
  }

.transform {
  transition: transform 0.3s ease; /* Добавляем transition для плавного эффекта */
}
.transform.rotate3d {
  transform: rotate3d(1, 1, 0, 0deg);
}

.transform:hover {
  transform: scale(1.05); /* Увеличиваем масштаб при наведении */
}
.transform.rotate3d:hover {
    transform: rotate3d(1, 1, 0, 3deg) scale(1.05);
}
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh; /*  секция занимает 30% экрана */
    padding: 20px;
}

#intro > div {
    background-color: #E97E7E; /* Цвет фона текста */
    color: black; /* Цвет текста */
    padding: 20px;
    border-radius: 10px; /* Скругление */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    max-width: 80%; /* Максимальная ширина контейнера */
    box-sizing: border-box; /* Учитываем padding в ширине */
}
#intro > div ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.transform {
    padding: 10px;
}

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    position: relative; /* Для позиционирования псевдоэлементов */
}

#about > .grid-container {
    flex: 1 1 calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1; /* Убедиться, что контент выше фона */
    position: relative; /* Добавляем это */
}

#about > .grid-container div {
    background-color: #FAF5C0;
    border-radius: 10px;
    padding: 15px;
     width: 300px;
    height: 300px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  box-sizing: border-box;
}

@media (max-width: 600px) {
    #about > .grid-container {
        flex: 1 1 calc(100% - 20px);
    }
}
.transform {
    transition: transform 0.3s ease;
}
.transform.rotate3d {
  transform: rotate3d(1, 1, 0, 0deg);
}

.transform:hover {
  transform: scale(1.05); /* Увеличиваем масштаб при наведении */
}
.transform.rotate3d:hover {
    transform: rotate3d(1, 1, 0, 3deg) scale(1.05);
}

#about > .grid-container[data-bg="bg1"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://avatars.mds.yandex.net/get-shedevrum/14801156/img_e269efe0d36611efbcee82963e3c41a8/orig');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1; /* Фон сзади контента */
}

#about > .grid-container[data-bg="bg2"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
      background-image: url('https://avatars.mds.yandex.net/get-shedevrum/15264226/img_02da4ec4d27f11ef92a4620c1b2bd141/orig');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     opacity: 0.2;
    z-index: -1; /* Фон сзади контента */

}
#about > .grid-container[data-bg="bg3"]::before {
     content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
      background-image: url('https://avatars.mds.yandex.net/get-shedevrum/12157372/img_d9c82e5dd27e11efb54ebe1bcce9abcf/orig');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
      opacity: 0.2;
    z-index: -1; /* Фон сзади контента */
}
#about > .grid-container[data-bg="bg4"]::before {
    content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
     background-image: url('https://avatars.mds.yandex.net/get-shedevrum/15464524/img_c394641dd27e11efb37ece140e702b49/orig');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
     opacity: 0.2;
   z-index: -1; /* Фон сзади контента */
}
.add-review-section {
    display: flex;
    flex-direction: column; /* Для вертикального расположения */
    align-items: center; /* Горизонтальное выравнивание */
    padding: 20px;
    min-height: 70vh;
}

.add-review-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

#review-form {
    width: 80%;
    max-width: 600px;
    background-color: #B4FFB2;
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    box-sizing: border-box;
}


#review-form .form-group {
    margin-bottom: 15px;
}

#review-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#review-form input[type="text"],
#review-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Стилизация для звездочек рейтинга */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.star-rating input[type="radio"] {
    display: none; /* Скрываем radio buttons */
}

.star-rating label {
    cursor: pointer;
    font-size: 2em;
    color: #ddd; /* Цвет неактивных звездочек */
    transition: color 0.3s ease;
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover {
    color: #ffc107; /* Цвет активных звездочек */
}
.form-actions{
    text-align: center;
}
.submit-button {
    background-color: #259BE9;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 31em; /* сдвигаем кнопку вправо */
}
footer#help {
    background-color: #259BE9;
    display: flex; /* делаем footer flex container */
    justify-content: center; /* выравниваем fieldset по центру */
    flex-direction: column; 
    align-items: center; /* Центрирование по вертикали */
    padding: 20px;
}
footer#help h2 {
    margin-bottom: 20px;
    text-align: center;
}
footer#help fieldset {
    border: none; /* Убираем рамку */
    background-color: rgba(255, 255, 255, 0.1); /* Фон с прозрачностью */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 50%;
    box-sizing: border-box; /* чтобы padding не влиял на ширину */
}
footer#help legend {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
}
footer#help .form-group {
    margin-bottom: 15px;
    text-align: left; /* выравнивание текста слева */
}
footer#help label {
    display: block; /* размещение на новой строке */
    margin-bottom: 5px;
    font-weight: bold;
}
footer#help input[type="text"],
footer#help input[type="email"],
footer#help textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3); /* белая граница с прозрачностью */
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2); /* белый фон с прозрачностью */
    color: white; /* белый цвет текста */
    box-sizing: border-box;
    outline: none;
}
footer#help ::placeholder { /* стилизация плейсхолдера */
    color: rgba(255, 255, 255, 0.7);
}
footer#help .submit-button {

    background-color: rgba(255, 255, 255, 0.2); /* светлый фон */
    color: white; /* белый цвет текста */
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex; /* выравнивание иконки */
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* отступ сверху */
}
footer#help .submit-button:hover {
    background-color: rgba(255, 255, 255, 0.3); /* более светлый фон при наведении */
}
footer#help .icon {
    font-size: 1.2em;
}
footer#help p {
    margin-top: 20px; /* Добавляем отступ сверху */
    text-align: center;
    color: #FFF; /* Устанавливаем цвет текста белого */
}